{% extends "../templates/layout.njk" %} {% block title %} Homepage {% endblock
%} {% block content %} {% import '../templates/macros/nav.njk' as nav %}
{{ nav.active("home") }}

<section class="welcome">
	<h1 class="welcome__header">
		Welcome at Kraków Express, where do you wanna go?
	</h1>
	<div class="welcome__bookingServicesCont">
		<article class="bookingServices">
			<div class="bookingServices__grid">
				<div class="bookingServices__box">
					<img
						src="dist/img/icons/airport_transfer.svg"
						alt=""
						class="bookingServices__icon"
					/>
					<h5 class="bookingServices__title">
						Airport Transfer
					</h5>
				</div>
				<div class="bookingServices__box">
					<img
						src="dist/img/icons/international_transfer.svg"
						alt=""
						class="bookingServices__icon"
					/>
					<h5 class="bookingServices__title">
						International Transfer
					</h5>
				</div>
				<div class="bookingServices__box">
					<img
						src="dist/img/icons/coach_tours.svg"
						alt=""
						class="bookingServices__icon"
					/>
					<h5 class="bookingServices__title">
						Coach Tours
					</h5>
				</div>
				<div class="bookingServices__box">
					<img
						src="dist/img/icons/private_tours.svg"
						alt=""
						class="bookingServices__icon"
					/>
					<h5 class="bookingServices__title">
						Private Tours
					</h5>
				</div>
			</div>
		</article>
	</div>
</section>

<section class="oneRowSlider">
	<h2 class="oneRowSlider__header">
		Must see these places in
		<span class="oneRowSlider__redText">Poland</span>
	</h2>
	<a href="/all_articles.html" class="oneRowSlider__link">
		See all articles and get inspired!
	</a>
	<div class="oneRowSlider__sliderCont">
		<div class="oneRowSlider__slider" id="mustSee">
			<div class="oneRowSlider__slide">
				<article class="itemBox">
					<picture class="itemBox__imgCont">
						<img
							src="img/items/wieliczka.jpg"
							alt=""
							class="itemBox__img"
						/>
					</picture>
					<h6 class="itemBox__title">
						Visiting the underwater lake in Wieliczka
					</h6>
					<div class="itemBox__buyRow">
						<div class="itemBox__price">
							from $29
						</div>
						<button class="itemBox__button">
							Read more
						</button>
					</div>
				</article>
			</div>
			<div class="oneRowSlider__slide">
				<article class="itemBox">
					<picture class="itemBox__imgCont">
						<img
							src="img/items/auschwitz.jpg"
							alt=""
							class="itemBox__img"
						/>
					</picture>
					<h6 class="itemBox__title">
						Auschwitz Museum
					</h6>
					<div class="itemBox__buyRow">
						<div class="itemBox__price">
							from $59
						</div>
						<button class="itemBox__button">
							Read more
						</button>
					</div>
				</article>
			</div>
			<div class="oneRowSlider__slide">
				<article class="itemBox">
					<picture class="itemBox__imgCont">
						<img
							src="img/items/zakopane.jpg"
							alt=""
							class="itemBox__img"
						/>
					</picture>
					<h6 class="itemBox__title">
						An all-day trip to Zakopane
					</h6>
					<div class="itemBox__buyRow">
						<div class="itemBox__price">
							from $99
						</div>
						<button class="itemBox__button">
							Read more
						</button>
					</div>
				</article>
			</div>
			<div class="oneRowSlider__slide">
				<article class="itemBox">
					<picture class="itemBox__imgCont">
						<img
							src="img/items/pieniny.jpg"
							alt=""
							class="itemBox__img"
						/>
					</picture>
					<h6 class="itemBox__title">
						Dunajec rafting
					</h6>
					<div class="itemBox__buyRow">
						<div class="itemBox__price">
							from $59
						</div>
						<button class="itemBox__button">
							Read more
						</button>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<section class="clientsExperience">
	<div class="clientsExperience__headers">
		<h3 class="clientsExperience__subHeader">
			<span class="clientsExperience__strong">
				What
			</span>
			our guests are saying
		</h3>
		<h2 class="clientsExperience__header">
			Clients Experience
		</h2>
	</div>
	<p class="clientsExperience__text">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
		provident nobis et repellendus alias dolor maiores. Neque, inventore
		ipsum. Illo iusto repellendus quos reprehenderit porro corporis optio
		laboriosam distinctio ipsam. Illo iusto repellendus quos reprehenderit
		porro corporis optio laboriosam distinctio ipsam?
	</p>
	<div class="clientsExperience__imgCont">
		<img
			src="img/weather.png"
			alt=""
			class="clientsExperience__img clientsExperience__weather"
		/>
		<img
			src="img/plane.png"
			alt=""
			class="clientsExperience__img clientsExperience__plane"
		/>
		<img
			src="img/tripadvisor.png"
			alt=""
			class="clientsExperience__img clientsExperience__tripadvisor"
		/>
	</div>
	<div class="clientsExperience__grid">
		<article class="clientsExperience__box">
			<h3 class="clientsExperience__boxTitle">Best Krakow Tours</h3>
			<p class="clientsExperience__boxText">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
				temporibus delectus autem magnam velit incidunt officiis
				dignissimos facere aliquam qui.
			</p>
		</article>
		<article class="clientsExperience__box">
			<h3 class="clientsExperience__boxTitle">Best coach tour</h3>
			<p class="clientsExperience__boxText">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
				temporibus delectus autem magnam velit incidunt officiis
				dignissimos facere aliquam qui.
			</p>
		</article>
		<article class="clientsExperience__box">
			<h3 class="clientsExperience__boxTitle">Airport pickup</h3>
			<p class="clientsExperience__boxText">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
				temporibus delectus autem magnam velit incidunt officiis
				dignissimos facere aliquam qui.
			</p>
		</article>
		<article class="clientsExperience__box">
			<h3 class="clientsExperience__boxTitle">Vip tours</h3>
			<p class="clientsExperience__boxText">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
				temporibus delectus autem magnam velit incidunt officiis
				dignissimos facere aliquam qui.
			</p>
		</article>
	</div>
</section>

<section class="oneRowSlider">
	<h2 class="oneRowSlider__header">
		Discover
		<span class="oneRowSlider__redText">Poland</span>
	</h2>
	<a href="/all_articles.html" class="oneRowSlider__link">
		See all articles and get inspired!
	</a>
	<div class="oneRowSlider__sliderCont">
		<div class="oneRowSlider__slider" id="discoverPoland">
			<div class="oneRowSlider__slide">
				<article class="itemBox">
					<picture class="itemBox__imgCont">
						<img
							src="img/items/wieliczka.jpg"
							alt=""
							class="itemBox__img"
						/>
					</picture>
					<h6 class="itemBox__title">
						Visiting the underwater lake in Wieliczka
					</h6>
					<div class="itemBox__buyRow">
						<button class="itemBox__button">
							Read more
						</button>
					</div>
				</article>
			</div>
			<div class="oneRowSlider__slide">
				<article class="itemBox">
					<picture class="itemBox__imgCont">
						<img
							src="img/items/auschwitz.jpg"
							alt=""
							class="itemBox__img"
						/>
					</picture>
					<h6 class="itemBox__title">
						Auschwitz Museum
					</h6>
					<div class="itemBox__buyRow">
						<button class="itemBox__button">
							Read more
						</button>
					</div>
				</article>
			</div>
			<div class="oneRowSlider__slide">
				<article class="itemBox">
					<picture class="itemBox__imgCont">
						<img
							src="img/items/zakopane.jpg"
							alt=""
							class="itemBox__img"
						/>
					</picture>
					<h6 class="itemBox__title">
						An all-day trip to Zakopane
					</h6>
					<div class="itemBox__buyRow">
						<button class="itemBox__button">
							Read more
						</button>
					</div>
				</article>
			</div>
			<div class="oneRowSlider__slide">
				<article class="itemBox">
					<picture class="itemBox__imgCont">
						<img
							src="img/items/pieniny.jpg"
							alt=""
							class="itemBox__img"
						/>
					</picture>
					<h6 class="itemBox__title">
						Dunajec rafting
					</h6>
					<div class="itemBox__buyRow">
						<button class="itemBox__button">
							Read more
						</button>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<section class="hero">
    <div class="hero__cont">
        <h2 class="hero__header">
            Travel like a boss
        </h2>
        <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit
            amet nisl auctor, semper libero quis, rutrum leo. Interdum et malesuada
            fames ac ante ipsum primis in faucibus. Mauris lorem lorem, semper et
            turpis quis, suscipit congue lectus. Proin a mauris suscipit lorem
            ultricies gravida. Ut eget nisl erat. Aenean sit amet blandit ex, at
            congue leo. Nunc arcu turpis, lacinia non erat ac, consectetur accumsan
            massa.
        </p>
        <a href="#" class="hero__button">
            See out fleet
        </a>
    </div>
</section>
{% endblock %}
