.contact {
    padding: 0 15px;
}

.contact__text {
}

.contact__address {
    margin: 30px 0;
    line-height: 1.25em;
}

.contact__smallHeader {
    margin-bottom: 15px;
}

.contact__formHeader {
    font-size: 20px;
    margin-bottom: 15px;
}

.contact__formCont {
    margin: 60px 0;
}