.umbrella {
    display: none;
    background-color: $color-red;
    width: 100%;
    height: 30px;
    font-size: 10px;
    color: #fff;
}

.umbrella__expired {
    display: none;
}

@media (min-width: $tablet) {
    .umbrella {
        @include flexCenter;
        height: 60px;
        font-size: 23px;
    }

    .umbrella__countdown {
        margin-left: 8px;
    }

    .umbrella__expired {
        display: none;
    }
}