<!DOCTYPE html>
<html lang="pl" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kraków Express - {%block title %} {% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<div class="umbrella">
			Special holiday offers! Best tours 50% off! Only <div class="umbrella__countdown"></div>
		</div>

		<div class="socials">
			<a href="#" class="socials__box">
				<img
					src="dist/img/icons/facebook.svg"
					alt=""
					class="socials__icon"
				/>
			</a>
			<a href="#" class="socials__box">
				<img
					src="dist/img/icons/twitter.svg"
					alt=""
					class="socials__icon"
				/>
			</a>
			<a href="#" class="socials__box">
				<img
					src="dist/img/icons/linked-in.svg"
					alt=""
					class="socials__icon"
				/>
			</a>
		</div>

		{% block content %} {% endblock %}

		<footer class="footer">
            <div class="footer__cont">

                <div class="footer__logoCont">
                    <h2 class="footer__logo">
                        Kraków Airport Express
                    </h2>
                    <div class="footer__copyright">
                        © 2017 Krakow Express. All rigths reserved 2019.
                    </div>
                </div>
                <div class="footer__linksCont">
                    <a href="airport_shuttle.html" class="footer__link"
                        >Airport shuttle</a
                    >
                    <a href="feedback.html" class="footer__link">Feedback</a>
                    <a href="vip_tours.html" class="footer__link">VIP tours</a>
                    <a href="booking.html" class="footer__link">Booking</a>
                    <a href="coach_tours.html" class="footer__link">Coach Tours</a>
                    <a href="contact.html" class="footer__link">Contact</a>
                    <a href="pricing.html " class="footer__link">Pricing</a>
                </div>
                <div class="footer__socials">
                    <a href="" class="footer__socialBox">
                        <img
                            src="dist/img/icons/facebook.svg"
                            alt=""
                            class="footer__socialIcon"
                        />
                    </a>
                    <a href="" class="footer__socialBox">
                        <img
                            src="dist/img/icons/twitter.svg"
                            alt=""
                            class="footer__socialIcon"
                        />
                    </a>
                    <a href="" class="footer__socialBox">
                        <img
                            src="dist/img/icons/linked-in.svg"
                            alt=""
                            class="footer__socialIcon"
                        />
                    </a>
                </div>
            </div>
		</footer>
        <!-- Hammer (swipe handler) library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script src="js/menu.js"></script>
        <script src="js/timer.js"></script>   
		<script src="js/slider.js"></script>                     
	</body>
</html>
